.loginForm{
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -50px;
    margin-left: -50px;

    width: 200px;
    height: 200px;
    padding:20px;
    border-radius: 10px 10px 10px 10px;
    background-color: antiquewhite;
}

.emailClass{
    padding: 10px;
}
.passwordClass{
    padding: 10px;
}

